<hr class="line">

<div class="box">
    <div>
        <p class="color-text" i18n>REFERENTS VSS</p>
        <p class="numero">Camille Gérard : 07.81.54.11.99</p>
        <p class="numero">Mathilde Soun : 07.83.30.03.59</p>
        <p class="numero">Younes Ghoniem : 07.62.04.07.03</p>
        <p class="numero">Florian Breteau : 06.20.23.45.42</p>
    </div>

    <div>
        <p class="color-text" i18n>PC SECURITE</p>
        <p class="numero">02.51.85.81.09</p>
    </div>

    <div>
        <p class="color-text" i18n>POLE INTE</p>
        <p class="numero">Léna Souami : 07.81.08.46.81</p>
        <p class="numero">Clément Guardia : 06.34.55.29.37</p>
        <p class="numero">Lilo Quema : 06.79.42.66.11</p>
        <p class="numero">Walid Ould Ali : 07.57.47.19.94</p>    
    </div>

        <img class="footer1" src="../../../assets/img/footer-1.svg" alt="illustration de plante" />
        <img class="footer2" src="../../../assets/img/footer-2.svg" alt="illustration de plante" />
        <!-- <img class="footer3" src="../../../assets/img/footer-3.svg" alt="illustration de plante" /> -->

  </div>
