.c-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.carousel-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30vh;
    margin: auto;
    width: 70vw;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.carousel-action {
    width: 25vw;
    background-color: #3D53CD;
    padding: 40px 30px;

    h3 {
        font-size: 30px;
        width: fit-content;
        line-height: 30pt;
        font-weight: bold;

        span {
            background-color: white;
        }
    }
}

.carousel-caption {
    position: unset;
    display: block;
    margin: 0;
    padding: 0;

    h2 {
        font-size: 50px;
        text-align: left;
        line-height: 55pt;
        margin: 0;

        span {
            background-color: #3D53CD;
            -webkit-text-stroke: 1px;
            -webkit-text-stroke-color: black;
        }
    }
}

::ng-deep .carousel-control-prev-icon,
::ng-deep .carousel-control-next-icon {
    width: 10rem;
    height: 6rem;
    opacity: 1;
}

@media (max-width: 900px) {

    .carousel-text-wrapper {
        height: auto;
        justify-content: center;
        flex-direction: column;
    }

    .carousel-action,
    .carousel-caption {
        display: block;
        position: unset;

        h2 {
            font-size: 40px;
        }
    }

    .carousel-caption {
        width: 70vw;
    }

    .carousel-action {
        width: 70vw;
    }
}

@media (max-width: 600px) {
    .carousel-caption h2 {
        font-size: 30px;
        line-height: 50px;
    }
}