<div>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="c-img"
          src="../assets/img/inté.jpg"
          alt="Random first slide"
        />
      </div>
      <div class="carousel-text-wrapper">
        <div class="carousel-caption">
          <h2>
            <span i18n>DES EVENEMENTS </span
            ><span i18n>INOUBLIA&shy;BLES !!!</span>
          </h2>
        </div>
        <div class="carousel-action">
          <h3>
            <span i18n>Du 24 août au </span><span i18n>10 septembre</span>
          </h3>
          <button
            i18n
            type="button"
            class="btn btn-outline-light"
            routerLink="/integration"
            routerLinkActive="active"
          >
            Plus d'infos
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="c-img"
          src="../assets/img/wei.jpg"
          alt="Random second slide"
        />
      </div>
      <div class="carousel-text-wrapper">
        <div class="carousel-caption">
          <h2><span i18n>LE WEI</span></h2>
        </div>
        <div class="carousel-action">
          <h3><span i18n>8 - 9 </span><span i18n>septembre</span></h3>
          <button
            i18n
            type="button"
            class="btn btn-outline-light"
            routerLink="/wei"
            routerLinkActive="active"
          >
            Plus d'infos
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="c-img"
          src="../assets/img/dodo.jpg"
          alt="Random third slide"
        />
      </div>
      <div class="carousel-text-wrapper">
        <div class="carousel-caption">
          <h2><span i18n>PREPARE TA </span><span i18n>RENTREE SCOLAIRE !</span></h2>
        </div>
        <div class="carousel-action">
          <h3><span i18n>Vendredi 25 </span><span i18n>août</span></h3>
          <button
            i18n
            type="button"
            class="btn btn-outline-light"
            routerLink="/assos-et-club"
            routerLinkActive="active"
          >
            Plus d'infos
          </button>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
