<header [ngClass]="{ shrink: isShrink }" #menu>
  <div class="header-items">
    <!-- Burger menu -->
    <button
      (click)="handleMenuClick()"
      [class.open]="isMenuOpen"
      class="burger-menu"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
    <img
      src="../../assets/img/logo.svg"
      alt="logo de l'intégration"
      class="logo"
    />
    <!-- Social media -->
    <div class="social">
      <a href="https://facebook.com" target="_blank">
        <img src="../assets/img/facebook.png" alt="facebook" width="40" />
      </a>
      <a href="https://instagram.com" target="_blank">
        <img src="../assets/img/instagram.png" alt="instagram" width="40" />
      </a>
    </div>
  </div>
  <ul [class.open]="isMenuOpen" class="menu-items" >
    <li>
      <a
        (click)="handleMenuClick()"
        href=""
        routerLink="/"
        routerLinkActive="active"
        >ACCUEIL</a
      >
    </li>
    <li>
      <a
        (click)="handleLinkClick()"
        href=""
        routerLink="/wei"
        routerLinkActive="active"
        >WEI</a
      >
    </li>
    <li>
      <a
        (click)="handleLinkClick()"
        href=""
        routerLink="/integration"
        routerLinkActive="active"
        >INTEGRATION</a
      >
    </li>
    <li>
      <a
        (click)="handleLinkClick()"
        href=""
        routerLink="/campus"
        routerLinkActive="active"
        >CAMPUS</a
      >
    </li>
    <li>
      <a
        (click)="handleLinkClick()"
        href=""
        routerLink="/assos-et-club"
        routerLinkActive="active"
        >ASSOS ET CLUBS</a
      >
    </li>
  </ul>
</header>
