header.shrink {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

    .logo {
        transition: width 0.5s ease;
        width: 15%;
    }

    .burger-menu span {
        background-color: black;
    }
}
.social-mobile {
    display: none;
}
.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;

    .logo {
        transition: unset;
        width: 20%;
    }

    .social {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 30px;
    }
}

.burger-menu {
    position: relative;
    left: 15px;
    width: 60px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    margin: 30px 50px;
    flex-shrink: 0;

    &.open span {
        background-color: black;
    }
}

.burger-menu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s ease;

}

.burger-menu span:nth-child(1) {
    top: 0;
}

.burger-menu span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger-menu span:nth-child(3) {
    bottom: 0;
}

.burger-menu.open span:nth-child(1) {
    transform: translateY(22px) rotate(45deg);
}

.burger-menu.open span:nth-child(2) {
    opacity: 0;
}

.burger-menu.open span:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
}

.menu-items {
    position: absolute;
    top: 0;
    left: 20px;
    line-height: 30px;
    background-color: white;
    list-style: none;
    pointer-events: none;
    opacity: 0;

    li {
        text-align: center;

        a {
            color: black;
            display: block;
            text-decoration: none;
            width: fit-content;
            margin: auto;

            &:after {
                content: '';
                display: block;
                margin: auto;
                margin-top: 5px;
                height: 2px;
                width: 0;
                background: transparent;
                transition: width .5s ease, background-color .5s ease;
            }

            &:hover:after {
                width: 100%;
                background: linear-gradient(to right, #3D53CD 0%, #8B21ED 100%);
            }
        }
    }

}

.menu-items.open {
    text-align: center;
    padding: 120px 20px 20px 20px;
    opacity: 1;
    pointer-events: auto;

}

@media (max-width: 1200px) {
    :host .header-items .logo {
        width: 30%;
    }

    :host .header-items.shrink .logo {
        width: 30%;
    }
}

@media (max-width: 650px) {
    :host .header-items .logo {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        width: 50%;
    }

    :host .header-items.shrink .logo {
        width: 50%;
    }

    .social-mobile {
        display: flex !important;
        gap: 20px;
        justify-content: center;
    }
    .social {
        display: none !important;
    }

    .burger-menu {
        margin: 30px !important;
        width: 40px;
        height: 30px;

    }

    .burger-menu.open span:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
    }


    .header-items {
        justify-content: flex-start;
    }

    .menu-items {
        font-size: 2em;
        left: 0;
        width: 100vw;
        height: 100vh;
        transition: width 1s ease;
        top: 0;

        li {
            margin-bottom: 20px;
        }
    }
}
