<app-image-header [img]="'../../assets/img/dupont-ducon-banner.jpg'" i18n
  >PREVENTION</app-image-header
>
<div class="content">
  <div class="heading">
    <img src="../../../assets/img/olimpe.png" alt="Olimtpe" />
    <div class="title">
      <h2 i18n>OL'IMT'PE</h2>
      <div class="underline"></div>
      <p i18n>
        OL'IMT'PE est l’association qui lutte contre les Violences Sexistes et
        Sexuelles au sein de notre école.
      </p>
    </div>
  </div>
  <div class="team">
    <div class="title mainTitle">
      <h3 i18n>NOTRE TEAM</h3>
      <div class="underline"></div>
    </div>
    <div class="title subTitle">
      <h4 i18n>Les référents</h4>
      <div class="underline"></div>
    </div>
    <img
      class="referals"
      src="../../../assets/img/referents.png"
      alt="référents ol'imt'pe"
    />
    <p i18n class="description">
      Le rôle des référents VSS est de t’écouter, de t’accompagner et de
      recueillir des témoignages. Ils seront toujours à ta disposition pour
      t’écouter dans le respect. Toute information reste bien entendu
      confidentielle et secrete. Ils peuvent relayer les informations à l’école
      si besoin.<br />
      Retrouve leur contact en bas de cette page.
    </p>
    <div class="responsibles">
      <div class="responsible">
        <div class="title subTitle">
          <h4 i18n>Respo com</h4>
          <div class="underline"></div>
        </div>
        <div class="description">
          <p i18n>
            Le rôle des respos communication est d’assurer la communication
            autour du sujet des VSS. Ils créent des visuels dans le but
            d’informer et de prévenir des risques.
          </p>
          <img
            class="respo"
            src="../../../assets/img/respocom 1.png"
            alt="Respo Com"
          />
        </div>
      </div>
      <div class="responsible">
        <div class="title subTitle">
          <h4 i18n>Respo event</h4>
          <div class="underline"></div>
        </div>
        <div class="description">
          <p i18n>
            Le rôle du respo évènement est d’organiser les évènements de la
            team. Elle gère aussi le planning des respos en soirée.
          </p>
          <img
            class="respo"
            src="../../../assets/img/respoevenement 1.png"
            alt="Respo Event"
          />
        </div>
      </div>
      <div class="responsible">
        <div class="title subTitle">
          <h4 i18n>Respo sensibilisation</h4>
          <div class="underline"></div>
        </div>
        <div class="description">
          <p i18n>
            Le rôle du respo sensibilisation est de trouver des idées et des
            plans de sensibilisation. Le but étant de sensibiliser le plus de
            personnes possibles à la cause de lutte contre les VSS.
          </p>
          <img
            class="respo"
            src="../../../assets/img/resposensi 1.png"
            alt="Respo sensibilisation"
          />
        </div>
      </div>
      <div class="responsible">
        <div class="title subTitle">
          <h4 i18n>Respo partenariat</h4>
          <div class="underline"></div>
        </div>
        <div class="description">
          <p i18n>
            Le rôle du respo partenariat est de gérer les partenariats avec
            d’autres associations et de trouver des partenariats de formations.
          </p>
          <img
            class="respo"
            src="../../../assets/img/respopartenariat 1.png"
            alt="Respo partenariat"
          />
        </div>
      </div>
      <div class="responsible">
        <div class="title subTitle">
          <h4 i18n>Respo soirées</h4>
          <div class="underline"></div>
        </div>
        <div class="description">
          <p i18n>
            A chaque soirée, des responsables sobres sont présents : si tu es
            témoin ou victime du moindre problème lors d’un évènement, n’hésites
            pas à les contacter. Ils sont formés pour te venir en aide.<br />
            Tu pourras les reconnaître grâce à leurs brassards jaune fluo.
          </p>
          <img
            class="respo"
            src="../../../assets/img/respo-soiree.png"
            alt="Respo soirée"
          />
        </div>
      </div>
    </div>
    <p class="cause" i18n>
      Si tu souhaites toi aussi t’investir dans la cause, n’hésites pas à te
      manifester auprès d’un des membres de la team !
    </p>
  </div>
</div>
<app-footer></app-footer>
