:host {

    .underline {
        border: solid 1px black;
        margin: auto 30px 20px;
    }

    .content {
        margin: auto 15vw;
    }

    .roomContent {
        background: rgb(92, 92, 92);
        background: linear-gradient(180deg, rgba(173, 173, 173, 100) 0%, rgba(255, 255, 255, 1) 100%);

        .title {
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                font-size: 40px;
            }

            .underline {
                width: 50%;
            }

        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding: 50px;

            .room {
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    aspect-ratio: 3/2;
                    object-fit: cover;
                    width: 300px;
                    height: 100%;
                }

                .text {
                    margin: 30px;
                    line-height: 2.5;

                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }


    }

    .line {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>div {
            width: 50%;
        }

        .text {
            text-align: center;
            padding: 20px;
            line-height: 2;
        }

        .verticalImages,
        .images,
        .singleImage {
            flex-grow: 0;
            display: flex;

        }

        .singleImage {
            img {
                width: 100%;
                object-fit: cover;
                aspect-ratio: 1/1;
            }
        }

        .verticalImages {
            img {
                width: 50%;
            }
        }

        .images {
            flex-direction: column;

            img {
                width: auto;
                height: auto;
            }
        }
    }

}

@media (max-width: 1200px) {
    :host .content {
        margin: auto 5vw;
    }
}

@media (max-width: 900px) {
    :host .content {
        margin: auto 0;
    }

    :host .roomContent {
        .list {
            align-items: center;
            gap: 0;
        }

        .room {
            flex-direction: column;

            img {
                width: 100% !important;
            }
            .text {
                margin: 30px 0 !important;
            }
        }
    }
}


@media (max-width: 700px) {
    :host .content {
        margin: auto 0;

        .line {
            flex-direction: column;
            margin-top: 30px;

            &>* {
                width: 100%;
            }

            &.textFirst {

                .images,
                .singleImage,
                .verticalImages {
                    order: 1;
                }

                .text {
                    order: 2;
                }
            }
        }
    }
}