<app-image-header
  [title]="'CAMPUS'"
  [img]="'../../assets/img/campus-header.jpg'"
></app-image-header>
<div class="content">
  <div class="line">
    <div class="text">
      <h2>La Maison des élèves (meudeuh)</h2>
      <div class="underline"></div>
      <p>
        Le lieu incontournable de notre campus est la MDE (meudeuh), ouverte de
        8h à 1h, 3h les jours d’opé. C’est là que se déroulent toutes les
        soirées étudiantes (tonus). Il y a aussi le Traquenard (Traq), bar et
        cuisine de l’école, ou encore des baby-foot et une table de billard à
        l’étage ! Les bureaux de l’administration se trouvent à l’étage de la
        MDE. Il y a aussi les salles réservées aux différents BDX. Tu peux aussi
        y réserver des salles, qui sont disponibles jusqu’à 3h sous réserve
        d’avoir un garant sobre. Demande à Rudy Pierronnet sur Messenger si tu
        veux en réserver une ! Des casiers sont aussi disponibles sur demande
        pour y laisser tes affaires en soirée.
      </p>
    </div>
    <div class="images">
      <img src="../../../assets/img/mde.png" alt="MDE" />
      <img src="../../../assets/img/mde2.png" alt="MDE" />
    </div>
    <img />
  </div>
  <div class="line">
    <div class="images">
      <img src="../../../assets/img/campus.jpg" alt="Campus" />
    </div>
    <div class="text">
      <h2>Les hébergements</h2>
      <div class="underline"></div>
      <p>
        50 T1 bis d'environ 30 m2 sont meublés d'un lit, d'un bureau, d'un coin
        cuisine(réfrigérateur, plaque de cuisson) 557 studios : tous les
        studettes sont identiques en équipement et taille (18m²) et disposent de
        l'essentiel pour permettre à chaque élève de vivre confortablement :
        Salle de bain avec douche, WC et lavabo Coin cuisine avec plaque
        électrique, frigo, évier, prises électriques Chambre avec lit simple, un
        (très) grand bureau, chaise de bureau, table de nuit, étagères, armoire,
        table, tabouret, connexion réseau et prise TV
      </p>
    </div>
  </div>
</div>
