<app-image-header
  [img]="'../../assets/img/dupont-ducon-banner.jpg'"
>INTEGRATION
</app-image-header>
<p i18n class="description">
  Voici le programme de l’intégration ! Pendant ces 3 semaines de folies, tu vas
  pouvoir rencontrer ta promo grâce aux nombreux évènements organisés. De quoi
  t’introduire à ta nouvelle vie étudiante ! Ne manque surtout pas le WEC et le
  WEI, deux week-ends phares de l’intégration à l’IMT Atlantique.
</p>
<div class="first-week">
  <app-date-title>SEMAINE 1</app-date-title>
  <ul>
    <li>
      <app-event-card [id]="1" [img]="'../assets/img/photo1_barbec.jpg'"
      >JEUDI
      </app-event-card
      >
    </li>
    <li>
      <app-event-card [id]="2" [img]="'../assets/img/photo2_abc.jpg'"
      >VENDREDI
      </app-event-card
      >
    </li>
    <li>
      <app-event-card [id]="3" [img]="'../assets/img/photo3_rallye.jpg'"
      >SAMEDI
      </app-event-card
      >
    </li>
    <li>
      <app-event-card [id]="4" [img]="'../assets/img/photo16_aprembds.jpg'"
      >DIMANCHE
      </app-event-card
      >
    </li>
  </ul>
</div>
<div class="second-week">
  <app-date-title>SEMAINE 2</app-date-title>
  <ul>
    <li>
      <app-event-card [id]="5" [img]="'../assets/img/photo5_karaokaisse.jpg'"
      >LUNDI
      </app-event-card
      >
    </li>
    <li>
      <app-event-card [id]="6" [img]="'../assets/img/photo6_convi.jpg'"
      >MARDI
      </app-event-card
      >
    </li>
    <li>
      <app-event-card [id]="7" [img]="'../assets/img/photo20_cabaret.png'"
      >MERCREDI
      </app-event-card
      >
    </li>
    <li>
      <app-event-card [id]="8" [img]="'../assets/img/photo23_underwater.jpg'"
      >JEUDI
      </app-event-card
      >
    </li>
    <li>
      <app-event-card [id]="9" [img]="'../assets/img/photo25_casino.png'"
      >VENDREDI
      </app-event-card
      >
    </li>
    <li>
      <app-event-card [id]="10" [img]="'../assets/img/photo9_feu.jpg'"
      >WEEK-END
      </app-event-card
      >
    </li>
  </ul>
</div>
<div class="third-week">
  <app-date-title>SEMAINE 2</app-date-title>
  <ul>
    <li>
      <app-event-card [id]="11" [img]="'../assets/img/photo27_potter.jpg'"
      >LUNDI
      </app-event-card
      >
    </li>
    <li>
      <app-event-card [id]="12" [img]="'../assets/img/photo28_bdi.png'"
      >MARDI
      </app-event-card
      >
    </li>
    <li>
      <app-event-card [id]="13" [img]="'../assets/img/dreamtonus.jpg'"
      >MERCREDI
      </app-event-card
      >
    </li>
    <li>
      <app-event-card [id]="14" [img]="'../assets/img/photo32_oenologie.png'"
      >JEUDI
      </app-event-card
      >
    </li>
    <li>
      <app-event-card [id]="15" [img]="'../assets/img/photo33_wei.jpg'"
      >WEEK-END
      </app-event-card
      >
    </li>
  </ul>
</div>
<app-footer></app-footer>