:host {
    width: 100vw;

    .second-week,
    .first-week,
    .third-week {
        app-date-title {
            margin: 30px auto;
        }

        ul {
            padding: unset;
            margin: auto 5vw;
            list-style: none;
            display: flex;
            justify-content: flex-start;

            li {
                width: calc(33.33% - 10px);
                /* 33.33% pour répartir en 3 colonnes, 10px de marge */
                margin-bottom: 20px;
            }
        }
    }

    .first-week {

        ul {
            justify-content: space-between;

            li {
                width: calc(25% - 10px);
                margin-bottom: 20px;
            }
        }
    }

    .second-week,
    .third-week {
        ul {
            flex-wrap: wrap;
            gap: 15px;
        }
    }

    .description {
        text-align: center;
        line-height: 30px;
        margin: 5vw 10vw auto 10vw;
    }

    app-image-header {
        position: relative;
    }

    @media (max-width: 900px) {
        .integration-header #little-banner {
            display: block;
        }

        .integration-header h1 {
            font-size: 60px;
            line-height: 30px;
        }

        .integration-header #banner {
            display: none;
        }
    }

    @media (max-width: 650px) {

        .first-week,
        .second-week,
        .third-week {

            ul {
                flex-wrap: wrap;
                li {
                    width: calc(50% - 10px);
                }
            }
        }

    }

    @media (max-width: 500px) {
        .integration-header h1 {
            font-size: 30px;
            line-height: 20px;
        }
    }
}