:host {
    width: 100vw;

    .referalContent {
        padding: 0 20vw 100px;
        background: rgb(92, 92, 92);
        background: linear-gradient(180deg, rgba(173, 173, 173, 100) 0%, rgba(255, 255, 255, 1) 100%);

        .gFormButton:hover {
            cursor: pointer;
        }
        .description {
            margin: 0 0;
        }

        .line {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            gap: 20px;

            img {
                width: 30%;
                object-fit: cover;
                border-radius: 10px;
            }

            .step {
                flex-basis: 70%;
                background-color: #EDEBEB;
                border-radius: 10px;
                padding: 30px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                p {
                    font-size: 20px;
                    line-height: 40px;
                    text-align: center;
                    margin: 0 0;
                }

                .gDocStep {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 150px;
                    }
                }

                h2 {
                    background-color: #D9D9D9;
                    width: fit-content;
                    border-radius: 10px;
                    padding: 5px 20px;
                }
            }
        }

        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                text-align: center;
                margin-top: 30px;
                font-size: 40px;
            }

            .underline {
                width: 50%;
                border: solid 1px black;
                margin: auto 30px 20px;
            }

        }

        .head {
            padding: 50px;

            p {
                text-align: center;
                line-height: 30px;
            }
        }

    }

    .second-week,
    .first-week,
    .third-week {
        app-date-title {
            margin: 30px auto;
        }

        ul {
            padding: unset;
            margin: auto 5vw;
            list-style: none;
            display: flex;
            justify-content: flex-start;

            li {
                width: calc(33.33% - 10px);
                /* 33.33% pour répartir en 3 colonnes, 10px de marge */
                margin-bottom: 20px;
            }
        }
    }

    .first-week {

        ul {
            justify-content: space-between;

            li {
                width: calc(25% - 10px);
                margin-bottom: 20px;
            }
        }
    }

    .second-week,
    .third-week {
        ul {
            flex-wrap: wrap;
            gap: 15px;
        }
    }

    .description {
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        margin: 5vw 10vw auto 10vw;
    }

    app-image-header {
        position: relative;
    }

    @media (max-width: 1400px) {
        .referalContent {
            padding: 0 10vw 100px;
        }
    }

    @media (max-width: 900px) {
        .referalContent {
            padding: 0 5vw 100px;

            .line {
                align-items: center;

                img {
                    object-fit: unset;
                    width: 30%;
                    height: auto;
                }
            }
        }

        .integration-header #little-banner {
            display: block;
        }

        .integration-header h1 {
            font-size: 60px;
            line-height: 30px;
        }

        .integration-header #banner {
            display: none;
        }
    }

    @media (max-width: 800px) {
        .referalContent {
            padding: 0 5vw 100px;

            .line {
                flex-direction: column;

                &.imgLast {
                    flex-direction: column-reverse;
                }

                img {
                    width: 100%;
                }
            }

        }
    }

    @media (max-width: 650px) {

        .first-week,
        .second-week,
        .third-week {

            ul {
                flex-wrap: wrap;

                li {
                    width: calc(50% - 10px);
                }
            }
        }

    }

    @media (max-width: 500px) {
        .integration-header h1 {
            font-size: 30px;
            line-height: 20px;
        }
    }
}