:host {
  .presentation-wei {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .text {
      text-align: center;
      padding: 20px 100px;
      line-height: 1.6;
    }

    h2 {
      margin: 20px;
      font-size: clamp(1.6rem, 4vw, 3rem);
    }

    p {
      font-size: clamp(1rem, 2vw, 1.2rem);
    }

  }

  .separator {
    display: flex;
    justify-content: center;
    background-color: #000;

    .img-separator {
      width: 100%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .info {
    display: flex;
    justify-content: space-evenly;
    margin: 4vw 0;

    .info-left {
      display: flex;
      justify-content: center;
      width: 50%;

      .info-left-content {
        display: inline-flex;
        flex-direction: column;
        width: min-content;
        min-width: 80%;
        margin: auto 30px;

        .info-title {
          width: 30vw;

          img {
            width: 100%;
            object-fit: contain;
          }
        }

        .info-text {

          P {
            font-size: clamp(1rem, 2vw, 2.2rem);
            margin: 2vw;
            line-height: 1.6;
          }
        }

        .info-inscription {
          display: flex;
          width: fit-content;
          align-self: center;

          .inscription-btn {
            height: fit-content;
            padding: 15px 20px;
            color: white;
            border-radius: 50px;
            border: 1px solid #000;
            background: #000;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            font-size: clamp(0.6rem, 2vw, 1rem);
            font-style: normal;
            font-weight: lighter;
            line-height: normal;
            letter-spacing: 3.78px;
            text-decoration-line: underline;
          }

          .arrow {
            align-self: end;
            margin: 5px 20px 0 0;
          }

        }
      }
    }

    .info-right {
      display: flex;
      justify-content: center;
    }
  }

  .A-text {
    text-align: center;
    padding: 20px;
    line-height: 1.6;

    h1 {
      margin: 20px;
      font-size: clamp(1.6rem, 4vw, 3rem);
    }

    p {
      font-size: clamp(1rem, 2vw, 1.2rem);
    }
  }

  .ne-pas-oublier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 4vw;

    .A-cards {
      display: flex;
      justify-content: space-evenly;

      .A-card-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 30vw;
        height: auto;
        margin: 2rem;

        h2 {
          font-size: clamp(1rem, 4vw, 2rem);
          background: #D4D4D4;
          width: 100%;
          margin: 20px auto 10px auto;
          padding: 5px;
          text-align: center;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      .A-card-left {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;

      }

      .A-card-right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .list-btn-outer {
          border: solid 5px black;
          display: flex;
          width: fit-content;
          margin: 10px;

          .list-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px;
            background: black;
            color: white;
            text-decoration: none;
            padding: 10px 20px;

            p {
              font-size: clamp(0.6rem, 3vw, 1.4rem);
              margin: 0;
              font-weight: bold;
              letter-spacing: 3px;
              font-family: Plus Jakarta Sans;
              margin-left: 10px;
            }

            img {
              width: 25px;
              height: auto;
            }
          }
        }
      }
    }

  }

  .galerie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;

    .galerie-img {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
      }

    }
  }

}