<app-image-header [img]="'../../assets/img/wei-header.png'">
 LE WEI
</app-image-header>
<div class="presentation-wei">
<div class="text">
  <h2>LE WEI C’EST QUOI ?</h2>
  <div class="underline"></div>
  <p>
    Pour conclure tes semaines d’intégration à l’école, le BDE organise le WEI : le point culminant de ton début d’année !
    <br>
    Un week-end inoubliable dans un lieu inconnu avec plein d'activités du matin au soir et des soirées mémorables ! C'est aussi l'occasion de faire connaissance avec les étudiants de l'autre campus, car à l'issue de ce week-end de folie, tu connaîtras toute la promo et seras un Atlante accompli.
  </p>
</div>
</div>
<div class="separator">
  <div class="img-separator">
  <img [src]="'../../assets/img/wei/separator1.png'" alt="wei">

  </div>
  <div class="img-separator">

  <img [src]="'../../assets/img/wei/separator3.png'" alt="wei">
  </div>
  <div class="img-separator">

  <img [src]="'../../assets/img/wei/separator2.png'" alt="wei">
  </div>
</div>
<div class="info">
  <div class="info-left">
    <div class="info-left-content">

      <div class="info-title">
        <img [src]="'../../assets/img/wei/info/info.png'" alt="wei">
      </div>
      <div class="info-text">
        <p>
          PRIX : 150€ - tout compris : logement, repas, activité, trajet <br>
        </p>
        <p>
          Temps de trajet : Environ 2h en bus depuis Nantes (possibilité de venir en voiture : contactez Léna Souami pour faire la demande)
        </p>
      </div>
      <div class="info-inscription">
        <div class="arrow">
          <img [src]="'../../assets/img/wei/info/arrow.png'" alt="wei">
        </div>
        <button class="inscription-btn">
          Je m'inscris
        </button>
      </div>
    </div>

  </div>
  <div class="info-right">
    <div class="right-img">
      <img [src]="'../../assets/img/wei/info/info-img.png'" alt="wei">
    </div>
  </div>
</div>
<div class="separator">
  <div class="img-separator">
    <img [src]="'../../assets/img/wei/separator4.png'" alt="wei">

  </div>
  <div class="img-separator">

    <img [src]="'../../assets/img/wei/separator5.png'" alt="wei">
  </div>
  <div class="img-separator">

    <img [src]="'../../assets/img/wei/separator6.png'" alt="wei">
  </div>
</div>
<div class="ne-pas-oublier">
  <div class="A-text">
    <h1>A NE PAS OUBLIER</h1>
    <p>Voici une petite liste des choses que tu dois emporter pour passer un  WEI parfait</p>
  </div>
  <div class="A-cards">
    <div class="A-card-left">
      <div class="A-card-img">
        <h2>1. Des lunettes de star</h2>
        <img [src]="'../../assets/img/wei/liste1.jpg'" alt="wei">
      </div>
      <div class="A-card-img">
        <h2>3. Ton sourire et beaucoup d’énergie</h2>
        <img [src]="'../../assets/img/wei/liste2.jpg'" alt="wei">
      </div>
    </div>
    <div class="A-card-right">
      <div class="A-card-img">
          <h2>2. De quoi prendre une bonne douche</h2>
          <img [src]="'../../assets/img/wei/liste3.jpg'" alt="wei">
      </div>
      <div class="list-btn-outer">
        <a class="list-btn" rel="stylesheet" href="">
          <img [src]="'../../assets/img/wei/fleche.png'" alt="fleche">
          <p>La vraie liste</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="separator">
  <div class="img-separator">
    <img [src]="'../../assets/img/wei/separator4.png'" alt="wei">

  </div>
  <div class="img-separator">
    <img [src]="'../../assets/img/wei/separator5.jpg'" alt="wei">
  </div>
  <div class="img-separator">
    <img [src]="'../../assets/img/wei/separator6.jpg'" alt="wei">
  </div>
</div>
<div class="activites">
  <div class="A-text">
    <h1>DE NOMBREUSES ACTIVITES ....</h1>
    <p> Pas d’inquiétude, avec toutes lees activités que nous t’avons préparé, tu ne risque pas de t’ennuyer !</p>
  </div>
  <div class="galerie">
    <div class="galerie-img">
      <img [src]="'../../assets/img/wei/galerie1.jpg'" alt="wei">
    </div>
    <div class="galerie-img">
      <img [src]="'../../assets/img/wei/galerie2.jpg'" alt="wei">
    </div>
    <div class="galerie-img">
      <img [src]="'../../assets/img/wei/galerie3.jpg'" alt="wei">
    </div>
    <div class="galerie-img">
      <img [src]="'../../assets/img/wei/galerie4.jpg'" alt="wei">
    </div>

  </div>
</div>
<app-footer></app-footer>