:host {
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin-bottom: 30px;

        .underline {
            width: 90%;
            border: 1px solid black;
        }

        h2 {
            font-size: 40px;
            margin: 50px auto 15px;
            line-height: normal;
            text-align: center;
        }
    }

    .clubs {
        margin: auto 25vw;

        .description {
            font-size: 25px;
            line-height: 40px;
            margin-bottom: 30px;
        }

        .club {
            display: flex;
            justify-content: flex-start;
            gap: 20px;

            img {
                width: 50%;
                height: auto;
                aspect-ratio: 3/2;
                object-fit: cover;
            }

            .detail {
                width: 50%;
                text-align: right;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;

                .name:first-child {
                    margin-top: 10px;
                }

                .name:last-child {
                    margin-bottom: 10px;
                }

                h3 {
                    font-size: 35px;
                    font-weight: 500;
                }

                p {
                    font-size: 20px;
                    line-height: 1.6;
                }
                .hour {
                    font-size: 24px;
                    line-height: 1.6;

                }
            }
        }

        .reverse {
            justify-content: flex-end;
            flex-direction: row-reverse;

            .detail {
                text-align: left;
            }
        }
    }

    .associations {
        margin: auto 25vw;

        .line {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            h3 {
                font-size: 30px;
                text-align: center;
            }

            img {
                width: 200px;

                &#bda,
                &#bdi {
                    width: 150px;
                }

                height: 100%;
            }

        }

    }
}

@media (max-width: 1200px) {

    :host .associations,
    :host .clubs {
        margin: auto 10vw;
    }
}

@media (max-width: 1000px) {

    :host .associations {
        margin: auto 5vw;
    }

    :host .clubs {
        margin: auto 0;

        .description {
            margin: 30px 30px;
            font-size: 20px;
        }

        .title {
            margin: 20px 5vw;
        }
    }

    :host .associations {
        .line {
            img {
                width: 150px;

                &#bda,
                &#bdi {
                    width: 125px;
                }
            }
        }
    }
}

@media (max-width:800px) {
    :host .clubs .club img {
        height: auto;
    }

    :host .clubs .club .detail {
        margin-left: 5px;

        h3 {
            font-size: 22px;
            margin-bottom: 5px;
        }

        p {
            font-size: 15px;
            margin: 0;
        }
        .hour {
            font-size: 17px;
            margin: 0;
        }

    }

}