<app-image-header img="../../../assets/img/assos-club.jpg"
  >ASSOS ET CLUB</app-image-header
>
<div class="associations">
  <div class="title">
    <h2>LES ASSOCIATIONS</h2>
    <div class="underline"></div>
  </div>
  <div class="bdx">
    <div class="line">
      <div>
        <img
          src="../../../assets/img/logo/bda.png"
          id="bda"
          alt="Bureau des arts"
        />
        <h3>BDA</h3>
      </div>
      <div>
        <img
          src="../../../assets/img/logo/bde.png"
          id="bde"
          alt="Bureau des étudiants"
        />
        <h3>BDE</h3>
      </div>
      <div>
        <img
          src="../../../assets/img/logo/bds.png"
          id="bds"
          alt="Bureau des sports"
        />
        <h3>BDS</h3>
      </div>
    </div>
    <div class="line">
      <div>
        <img
          src="../../../assets/img/logo/bdd.png"
          alt="Bureau du développement durable"
        />
        <h3>BDD</h3>
      </div>
      <div>
        <img
          id="bdi"
          src="../../../assets/img/logo/bdi.png"
          alt="Bureau des internationnaux"
        />
        <h3>BDI</h3>
      </div>
    </div>
  </div>
</div>
