<app-image-header img="../../../assets/img/assos-club.jpg" i18n
  >ASSOS ET CLUB</app-image-header
>
<div class="associations">
  <div class="title">
    <h2 i18n>LES ASSOCIATIONS</h2>
    <div class="underline"></div>
  </div>
  <div class="bdx">
    <div class="line">
      <div>
        <img
          src="../../../assets/img/logo/bda.png"
          id="bda"
          alt="Bureau des arts"
        />
        <h3>BDA</h3>
      </div>
      <div>
        <img
          src="../../../assets/img/logo/bde.png"
          id="bde"
          alt="Bureau des étudiants"
        />
        <h3>BDE</h3>
      </div>
      <div>
        <img
          src="../../../assets/img/logo/bds.png"
          id="bds"
          alt="Bureau des clubs"
        />
        <h3>BDS</h3>
      </div>
    </div>
    <div class="line">
      <div>
        <img
          src="../../../assets/img/logo/bdd.png"
          alt="Bureau du développement durable"
        />
        <h3>BDD</h3>
      </div>
      <div>
        <img
          id="bdi"
          src="../../../assets/img/logo/bdi.png"
          alt="Bureau des internationnaux"
        />
        <h3>BDI</h3>
      </div>
    </div>
  </div>
</div>
<div class="clubs">
  <div class="title">
    <h2 i18n>LES CLUBS SPORTIFS</h2>
    <div class="underline"></div>
  </div>
  <p class="description" i18n>
    Découvre les clubs sportifs de l'école, affiliés au BDS ! N'hésites pas à
    demander des renseignements aux respos sports mentionnés.
  </p>
  <div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3>FOOT M</h3>
          <p>Florent Clavier, Amine Rahim, Iliasse Abida</p>
        </div>
        <div class="name">
          <h3>FOOT F</h3>
          <p>Wiem Labbaoui, Gabrielle Villet</p>
        </div>
      </div>
      <img src="../../../assets/img/Foot F.jpg" alt="foot" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3>FUTSAL</h3>
          <p>Yanis Bentoumi, Julien Merlet</p>
        </div>
      </div>
      <img src="../../../assets/img/Futsal.jpg" alt="futsal" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3>BASKET M</h3>
          <p>Romain Reglin, François Glavatkii, Kayoé Moudachirou</p>
        </div>
        <div class="name">
          <h3>BASKET F</h3>
          <p>Emma Panerai</p>
        </div>
      </div>
      <img src="../../../assets/img/Basket M.jpg" alt="Basket" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3>ULTIMATE</h3>
          <p>Paul Petit</p>
        </div>
      </div>
      <img src="../../../assets/img/Ultimate.jpg" alt="Ultimate" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3 i18n>ATHLETISME</h3>
          <p>Karim Ben Messaoud</p>
        </div>
      </div>
      <img src="../../../assets/img/Athle.jpg" alt="ATHLETISME" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3>VOLLEY M</h3>
          <p>Justin Deguet</p>
        </div>
        <div class="name">
          <h3>VOLLEY F</h3>
          <p>Lilo Quema, Léna Souami</p>
        </div>
      </div>
      <img src="../../../assets/img/Volley F.jpg" alt="Volley" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3 i18n>DANSE</h3>
          <p>Alice Baudry</p>
        </div>
      </div>
      <img src="../../../assets/img/Danse 1.jpeg" alt="Danse" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3>HANDBALL M</h3>
          <p>Léonard Laplace-Palette, Baptiste Bayle</p>
        </div>
        <div class="name">
          <h3>HANDBALL F</h3>
          <p>Lilou Mandray</p>
        </div>
      </div>
      <img src="../../../assets/img/Hand 2.jpg" alt="Handball" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3 i18n>TIR A L'ARC</h3>
          <p>Flavien Bazon</p>
        </div>
      </div>
      <img src="../../../assets/img/Tir à l_arc.jpg" alt="Tir à l'arc" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3 i18n>PECHE</h3>
          <p>Léo Squizzato</p>
        </div>
      </div>
      <img src="../../../assets/img/Pêche.jpg" alt="Pêche" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3 i18n>VOILE</h3>
          <p>Alexandre Declerck</p>
        </div>
      </div>
      <img src="../../../assets/img/Voile 2.jpg" alt="Voile" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3>JUJITSU</h3>
          <p>Antoine Tondu</p>
        </div>
      </div>
      <img src="../../../assets/img/Jujitsu.jpg" alt="Jujitsu" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3 i18n>BOXE</h3>
          <p>Adam Ferhout, Ahmed Laaroussi</p>
        </div>
      </div>
      <img src="../../../assets/img/Boxe.jpg" alt="Boxe" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3 i18n>ESCALADE</h3>
          <p>Raphael Marcdargent, Camille Gérard</p>
        </div>
      </div>
      <img src="../../../assets/img/Escalade.jpg" alt="ESCALADE" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3 i18n>TENNIS</h3>
          <p>Nathan Salbego</p>
        </div>
      </div>
      <img src="../../../assets/img/Tennis.png" alt="TENNIS" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3>POMPIM</h3>
          <p>Nicolas Legout, Sarah Gault</p>
        </div>
      </div>
      <img src="../../../assets/img/Pompim 3.jpg" alt="Pompim" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3>BADMINTON</h3>
          <p>Marine Naveros, Hugo Mallet, Léo Mathieu</p>
        </div>
      </div>
      <img src="../../../assets/img/badminton.jpg" alt="Badminton" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3>RUGBY M</h3>
          <p>Charles Pélong, Hugues Marie Moreau</p>
        </div>
        <div class="name">
          <h3>RUGBY F</h3>
          <p>Emeline Roch</p>
        </div>
      </div>
      <img src="../../../assets/img/Rugby m.jpg" alt="Rugby" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3 i18n>NATATION</h3>
          <p>Mathis Doutre</p>
        </div>
      </div>
      <img src="../../../assets/img/Natation 2 (internet).png" alt="Natation" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3>SURF</h3>
          <p>Anne-Victoire Meyrignac, Louis Le Saulnier</p>
        </div>
      </div>
      <img src="../../../assets/img/Surf.jpg" alt="surf" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3 i18n>GYMNASTIQUE</h3>
          <p>Salomé Tan</p>
        </div>
      </div>
      <img src="../../../assets/img/Gymnastique 2.jpg" alt="Gymnastique" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3 i18n>AVIRON</h3>
          <p>Lilian Descormes</p>
        </div>
      </div>
      <img src="../../../assets/img/Aviron 2.jpg" alt="Natation" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3>CROSSFIT</h3>
          <p>Julian Vasquez Moya</p>
        </div>
      </div>
      <img src="../../../assets/img/Crossfit.jpg" alt="crossfit" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3>ROLLER</h3>
          <p>Yahya Oumani, Estelle Marguinaud</p>
        </div>
      </div>
      <img src="../../../assets/img/Roller.jpg" alt="Natation" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3>GOLF</h3>
          <p>Nathan Rabier</p>
        </div>
      </div>
      <img src="../../../assets/img/Golf 2.jpg" alt="Golf" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3>VTT</h3>
          <p>Antoine Berthier</p>
        </div>
      </div>
      <img src="../../../assets/img/VTT 2.jpg" alt="VTT" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3 i18n>EQUITATION</h3>
          <p>Aurel Le Mée</p>
        </div>
      </div>
      <img src="../../../assets/img/Equitation.jpg" alt="Equitation" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3 i18n>TENNIS DE TABLE</h3>
          <p>Rémi Barbaroux</p>
        </div>
      </div>
      <img src="../../../assets/img/Pingpong 2.jpg" alt="Tennis de table" />
    </div> 
  </div>
  <div class="title">
    <h2 i18n>LES CLUBS DU BDA </h2>
    <div class="underline"></div>
  </div>
  <p class="description" i18n>
    Tu trouveras ci-dessous la liste des clubs non sportifs, assimilés au BDA !
    Les noms des respos clubs sont rappelés si tu veux leur demander des
    informations !
  </p>
  <div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3>THEATRE</h3>
          <p>Quentin Rabilloud, Roman Tomczak</p>
        </div>
      </div>
      <img src="../../../assets/img/Théâtre.jpg" alt="THEATRE" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3 i18n>OENOLOGIE</h3>
          <p>Louna Hasniou</p>
        </div>
      </div>
      <img src="../../../assets/img/photo32_oenologie.png" alt="OENOLOGIE" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3>ROCK</h3>
          <p>Adrien Coeffard</p>
        </div>
      </div>
      <img src="../../../assets/img/Rock.jpg" alt="Rock" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3>ATLANTECH</h3>
          <p>Sacha Hlinka</p>
        </div>
      </div>
      <img src="../../../assets/img/tech.png" alt="Atlantech" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3 i18n>ROBOTIQUE</h3>
          <p>Clément Fedi</p>
        </div>
      </div>
      <img src="../../../assets/img/Robotique.jpeg" alt="Robotique" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3 i18n>DANSE LATINE</h3>
          <p>Louise Blanchard, Salomé Tan</p>
        </div>
      </div>
      <img src="../../../assets/img/danse latine.jpg" alt="Danse Latine" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3 i18n>MUSIQUE</h3>
          <p>Ilian Ben Amar</p>
        </div>
      </div>
      <img src="../../../assets/img/clubmusique.jpg" alt="Musique" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3 i18n>PHOTO</h3>
          <p>Yanis Bentoumi</p>
        </div>
      </div>
      <img src="../../../assets/img/Photo.jpg" alt="Danse Latine" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3>MIX</h3>
          <p>Victor Gauthier</p>
        </div>
      </div>
      <img src="../../../assets/img/Mix.jpeg" alt="Mix" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3 i18n>JEUX VIDEOS</h3>
          <p>Inès Boulefred-Derray</p>
        </div>
      </div>
      <img src="../../../assets/img/Jeux vidéos.jpeg" alt="Jeux vidéos" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3 i18n>PATISSERIE</h3>
          <p>Wiem Labbaoui</p>
        </div>
      </div>
      <img src="../../../assets/img/Patisserie.jpg" alt="PATISSERIE" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3 i18n>ECHEC</h3>
          <p>Alex Charon, Maxime Carfagni</p>
        </div>
      </div>
      <img src="../../../assets/img/Echecs.jpeg" alt="ECHEC" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3>KULTURAP</h3>
          <p>Sami Amestas</p>
        </div>
      </div>
      <img src="../../../assets/img/Kulturap.png" alt="KULTURAP" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3 i18n>JEUX DE RÔlES</h3>
          <p>Jean-Baptiste Schuler</p>
        </div>
      </div>
      <img src="../../../assets/img/JDR.jpg" alt="JEUX DE RÔlES" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3 i18n>FANFARE</h3>
          <p>Eloïse Diner</p>
        </div>
      </div>
      <img src="../../../assets/img/Fanfare.png" alt="Fanfare" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3>CINEMINES</h3>
          <p>Sacha Hlinka</p>
        </div>
      </div>
      <img src="../../../assets/img/Cinémines.jpeg" alt="Cinémines" />
    </div>
    <div class="club reverse">
      <div class="detail">
        <div class="name">
          <h3 i18n>DESSIN</h3>
          <p>Sacha Götz, William Bressollette</p>
        </div>
      </div>
      <img src="../../../assets/img/Dessins.jpeg" alt="Dessin" />
    </div>
    <div class="club">
      <div class="detail">
        <div class="name">
          <h3 i18n>JEUX DE SOCIETE</h3>
          <p>Nino Alapetite</p>
        </div>
      </div>
      <img src="../../../assets/img/Jeux de société.jpg" alt="Dessin" />
    </div>
  </div>
</div>
<app-footer></app-footer>
