:host {

    p,
    li {
        font-size: 20px;
        line-height: 1.6;
    }

    .subHeader {
        margin: 50px 20vw;
        text-align: center;

        .description {
            font-size: 20px;
            line-height: 1.6;
        }

        h2 {
            font-size: 40px;
            line-height: 1;
        }
    }

    .content {
        margin: 0 17vw;

        .campusPlan {
            img {
                width: 100%;
            }
        }

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: fit-content;
            margin-bottom: 30px;

            .underline {
                width: 90%;
                border: 1px solid black;
            }

            h2 {
                font-size: 40px;
                margin: 50px auto 15px;
                line-height: normal;
                text-align: center;
            }

            h3 {
                font-size: 30px;
                font-weight: 500;
                text-align: center;
                line-height: normal;
                margin-bottom: 0;
            }
        }

        .keyDates {
            display: flex;
            flex-direction: column;
            gap: 50px;

            .date {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 30px;

                img {
                    width: 400px;
                    height: auto;
                    aspect-ratio: 3/2;
                    object-fit: cover;
                    border-radius: 30px;
                }

            }
        }

        .studio {
            display: flex;
            justify-content: space-between;
            gap: 30px;

            .illustration {
                display: flex;
                flex-direction: column;

                img {
                    width: 100%;
                }

            }
        }

        .groups {
            .description {
                display: flex;
                align-items: center;
                gap: 30px;

                p {
                    font-size: 25px;
                }

                img {
                    width: 100%;
                }
            }

            .warning {
                padding: 30px 150px;
                text-align: center;
                font-size: 30px;
                font-weight: 500;
            }

            .groupList {
                .group {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    .imageSection {
                        width: 300px;
                        display: flex;
                        justify-content: center;
                        flex-grow: 0;
                        flex-shrink: 0;
                    }

                    img {
                        width: 250px;

                        &#bda,
                        &#bdi {
                            width: 150px;
                        }

                        &#bdi {
                            border-radius: 100px;
                        }

                        &#bds {
                            width: 170px;
                        }
                    }

                    .socials {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        .social {
                            display: flex;
                            align-items: center;
                            line-height: 1.2;

                            img {
                                width: 50px;
                                margin-right: 20px;
                            }

                            a {
                                font-size: 25px;
                                text-decoration: none;
                                color: inherit;
                                word-break: break-all;
                            }
                        }

                    }
                }
            }
        }

    }

}

@media (max-width: 1200px) {
    :host .content {
        margin: 0 10vw;

        .groups {
            .description {
                flex-direction: column;
            }

            .warning {
                padding: 30px 50px;
            }

            .groupList .group {
                img {
                    width: 200px;
                }

                .imageSection {
                    width: 200px;
                }

                .socials .social a {
                    font-size: 1.2rem;
                }
            }

        }
    }
}

@media (max-width: 900px) {
    :host {

        .content {
            margin: 0 5vw;

            .title {
                margin: auto auto 20px;
            }


            .keyDates .date {
                flex-direction: column;

                img {
                    width: 100%;
                    padding: 0 10px;
                }

                >div {
                    text-align: center;

                    .title {
                        margin: 0 auto 10px auto;
                    }
                }
            }

            .studio {
                flex-direction: column;
            }
        }

        .subHeader {
            margin: 50px 5vw 30px;
        }
    }
}

@media (max-width: 500px) {

    .groups {
        .warning {
            padding: 30px 0 0;
            margin: 0;
        }

        .groupList {
            .group {
                margin-bottom: 30px;
                flex-direction: column;

                .imageSection {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }

    }
}