<app-image-header [img]="'../../assets/img/dodo.jpg'"
  >PREPARE TA RENTREE</app-image-header
>
<div class="subHeader">
  <h2 i18n>C'EST LA RENTREE !</h2>
  <p i18n class="description">
    Félicitations pour ton admission à IMT Atlantique ! Maintenant afin de
    préparer ta rentrée au maximum, voici nos petits conseils.
  </p>
</div>
<div class="content">
  <div class="title">
    <h2 i18n>LES DATES CLES</h2>
    <div class="underline"></div>
  </div>
  <div class="keyDates">
    <div class="date">
      <img src="../../../assets/img/campus.jpg" alt="" />
      <div>
        <div class="title">
          <h3 i18n>23-24 août</h3>
          <div class="underline"></div>
        </div>
        <p i18n>
          Il est temps pour toi de venir t’installer sur notre magnifique campus
          ! Nous serons là pour t’accueillir, te donner tes clés et t’offrir
          quelques outils indispensables à la vie d’atlante ...
        </p>
      </div>
    </div>
    <div class="date">
      <img src="../../../assets/img/photo1_barbec.jpg" alt="" />
      <div>
        <div class="title">
          <h3>Jeudi 24 août</h3>
          <div class="underline"></div>
        </div>
        <p i18n>
          Le début de l’intégration a sonné ! Viens te régaler aevc nous autour
          d’un barbecue offert par le BDE.
        </p>
      </div>
    </div>
    <div class="date">
      <img src="../../../assets/img/cohesion.png" alt="" />
      <div>
        <div class="title">
          <h3 i18n>2-3 septembre : WEC</h3>
          <div class="underline"></div>
        </div>
        <p i18n>
          Tu t’es vu attribué un campus, mais IMT Atlantique c’est avant tout 3
          campus soudé. Profite de ce week-end pour rencontrer nos amis Brestois
          qui viennent nous rendre visite sur le campus de Nantes.
        </p>
      </div>
    </div>
    <div class="date">
      <img src="../../../assets/img/wei.png" alt="" />
      <div>
        <div class="title">
          <h3 i18n>8-9 septembre : WEI</h3>
          <div class="underline"></div>
        </div>
        <p i18n>
          Tu as survécu jusqu’ici ? Il est maintenant temps de conclure
          l’intégration en beauté avec le Week-end d’intégration ! Ne rate
          surtout pas ce week-end qui promets d’être inoubliable.
        </p>
      </div>
    </div>
  </div>
  <div class="title">
    <h2 i18n>BIENVENUE CHEZ TOI !</h2>
    <div class="underline"></div>
  </div>
  <div class="studio">
    <div>
      <p i18n>
        Voilà à quoi ressemble ton nouveau chez toi. Libre à toi de le décorer
        comme tu le souhaites pour te l’approprier ! <br />Tous les appartements
        sont équipés de la même manière :
      </p>
      <ul>
        <li i18n>Salle de bain avec douche, WC et lavabo</li>
        <li i18n>
          Coin cuisine avec plaque électrique, frigo, évier, prises électriques
        </li>
        <li i18n>
          Chambre avec lit simple, un (très) grand bureau, chaise de bureau,
          table de nuit, étagères, armoire, table, tabouret, connexion réseau et
          prise TV
        </li>
      </ul>
    </div>
    <div class="illustration">
      <img src="../../../assets/img/appart1.jpg" alt="photo du studio" />
      <img src="../../../assets/img/appart2.jpg" alt="photo du studio" />
    </div>
  </div>
  <div class="campus">
    <div class="title">
      <h2 i18n>PLAN DU CAMPUS</h2>
      <div class="underline"></div>
    </div>
    <div class="campusPlan">
      <img
        src="../../../assets/img/plan_campus_french.png"
        alt="Plan du campus"
      />
    </div>
  </div>
  <div class="groups">
    <div class="title">
      <h2 i18n>REJOINS LES GROUPES</h2>
      <div class="underline"></div>
    </div>
    <div class="description">
      <p i18n>
        Afin d’être au courant en temps réel de ce qu’il se passe sur le campus,
        rejoins le
        <a href="https://www.facebook.com/groups/1583067408869734/"
          >groupe facebook</a
        >
        !
      </p>
      <img
        src="../../../assets/img/groupe_facebook.png"
        alt="Groupe facebook"
      />
    </div>
    <p class="warning" i18n>
      Si tu n’as pas été mis dans le groupe de ta promo à ton arrivée sur le
      campus, demande à Roman Tomczak (sur messenger) de t’ajouter !
    </p>
    <div class="groupList">
      <div class="group">
        <div class="imageSection">
          <img src="../../../assets/img/logo/bde.png" alt="Logo du BDE" />
        </div>
        <div class="socials">
          <div class="social">
            <img src="../../../assets/img/facebook.png" alt="facebook" />
            <a href="https://www.facebook.com/groups/imtferno/"
              >https://www.facebook.com/groups/imtferno/</a
            >
          </div>
          <div class="social">
            <img src="../../../assets/img/instagram.png" alt="instagram" />
            <a href="https://www.instagram.com/bde_imtatlantique_nantes/"
              >https://www.instagram.com/bde_imtatlantique_nantes/</a
            >
          </div>
        </div>
      </div>
      <div class="group">
        <div class="imageSection">
          <img
            src="../../../assets/img/logo/bda.png"
            alt="Logo du BDA"
            id="bda"
          />
        </div>
        <div class="socials">
          <div class="social">
            <img src="../../../assets/img/facebook.png" alt="facebook" />
            <a href="https://www.facebook.com/groups/1725854334304090/"
              >https://www.facebook.com/groups/1725854334304090/</a
            >
          </div>
          <div class="social">
            <img src="../../../assets/img/instagram.png" alt="instagram" />
            <a href="https://www.instagram.com/bda_imtatlantique_nantes/"
              >https://www.instagram.com/bda_imtatlantique_nantes/</a
            >
          </div>
        </div>
      </div>
      <div class="group">
        <div class="imageSection">
          <img
            id="bds"
            src="../../../assets/img/logo/bds.png"
            alt="Logo du BDS"
          />
        </div>
        <div class="socials">
          <div class="social">
            <img src="../../../assets/img/facebook.png" alt="facebook" />
            <a href="https://www.facebook.com/groups/bdsimta/"
              >https://www.facebook.com/groups/bdsimta/</a
            >
          </div>
          <div class="social">
            <img src="../../../assets/img/instagram.png" alt="instagram" />
            <a href="https://www.instagram.com/bds_imt_atlantique_nantes/"
              >https://www.instagram.com/bds_imt_atlantique_nantes/</a
            >
          </div>
        </div>
      </div>
      <div class="group">
        <div class="imageSection">
          <img src="../../../assets/img/logo/bdd.png" alt="Logo du BDD" />
        </div>
        <div class="socials">
          <div class="social">
            <img src="../../../assets/img/facebook.png" alt="facebook" />
            <a href="https://www.facebook.com/groups/1241865539895977/"
              >https://www.facebook.com/groups/1241865539895977/</a
            >
          </div>
          <div class="social">
            <img src="../../../assets/img/instagram.png" alt="instagram" />
            <a href="https://www.instagram.com/bdd_imt_atlantique_nantes/"
              >https://www.instagram.com/bdd_imt_atlantique_nantes/</a
            >
          </div>
        </div>
      </div>
      <div class="group">
        <div class="imageSection">
          <img
            id="bdi"
            src="../../../assets/img/logo/bdi.png"
            alt="Logo du BDI"
          />
        </div>
        <div class="socials">
          <div class="social">
            <img src="../../../assets/img/instagram.png" alt="instagram" />
            <a href="https://www.instagram.com/bdi_imtatlantique_nantes/"
              >https://www.instagram.com/bdi_imtatlantique_nantes/</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
