app-header {
    // height: 100px;
    // display: block;
    position: absolute;
    z-index: 999;
}

.c-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.carousel-action {
    width: 25vw;
    background-color: #3D53CD;
    position: absolute;
    top: 30%;
    right: 15%;
    padding: 40px 30px;

    h3 {
        font-size: 30px;
        width: fit-content;
        line-height: 30pt;
        font-weight: bold;

        span {
            background-color: white;
        }
    }
}

.carousel-caption {
    left: 15%;
    top: 30%;
    right: unset;
    bottom: unset;
    margin: 0;
    padding: 0;

    h2 {
        font-size: 50px;
        text-align: left;
        line-height: 55pt;
        margin: 0;

        span {
            background-color: #3D53CD;
            -webkit-text-stroke: 1px;
            -webkit-text-stroke-color: black;
        }
    }
}

::ng-deep .carousel-control-prev-icon,
::ng-deep .carousel-control-next-icon {
    width: 10rem;
    height: 6rem;
    opacity: 1;
}